---
layout: page
---

<img src="{{ site.url }}/images/angeidheal.jpg" style="display: block; margin-left: auto; margin-right: auto; margin-top: 56px; border-radius: 50%" width="100" height="100">

<h1 style="text-align: center; font-family: Lemonada">Crìstean MacMhìcheil</h1>

<p style="text-align: center">Blogaiche aig a' Ghèidheal Ùr</p>

<h2>Mu mo dheidhinn</h2>

<p>Is mise Crìstean MacMhìcheil. Rugadh is thogadh mi ann an Siorrachd Rois.</p>

<p>Cheumnaich mi bho Sabhal Mòr Ostaig ann an 2010 le BA (le Urram) ann an Gàidhlig is Leasachadh.</p>

<h2>Mo Phròiseactan</h2>

<p>AbairThusa • Lìonra Sòisealta nan Gèidheal (Dùinte)</p>

<p><a href="https://aimsir.scot/">Aimsir.scot</a> • A' toirt thugaibh am fiosrachadh as ùire mun aimsir.</p>

<p><a href="https://angeidhealur.scot/">An Gèidheal Ùr</a> • Geàrr-chunntas sgrìobhte de naidheachdan LGDTCEN+ ionadail, nàiseanta ‘s bho air feadh an t-saoghail.</p>

<p><a href="https://faclair.lgbt/">Faclair nan Gèidheal</a> • Faclair de bhriathrachas LGBTQIA+</p>

<h2>Mo bhlog</h2>

{% for post in paginator.posts %}
  <div class="row">
    <div class="col-md-3"><p>{{ post.date | date: "%d" }}/{{ post.date | date: "%m" }}/{{ post.date | date: "%Y" }}</p></div>
    <div class="col-md-9"><p><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></p></div>
  </div>
{% endfor %}

<div style="margin-top: 28px">
  {% if paginator.total_pages > 1 %}
    <ul class="pagination justify-content-center">
      {% if paginator.next_page %}
        <li class="page-item active">
          <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</span>
        </li>
      {% endif %}

      {% if paginator.previous_page %}
        <li class="page-item active">
          <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Nas ùire <i class="fa fa-arrow-circle-right"></i></a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Nas ùire <i class="fa fa-arrow-circle-right"></i></span>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>