---
layout: page
---

  <!--<img src="{{ site.url }}/images/angeidheal.jpg" style="display: block; margin-left: auto; margin-right: auto; border-radius: 50%" width="100" height="100">-->

  <p>Is mise Crìstean MacMhìcheil. Rugadh is thogadh mi ann an Siorrachd Rois.</p>
  <p>Cheumnaich mi bho Sabhal Mòr Ostaig ann an 2010 le BA (le Urram) ann an Gàidhlig is Leasachadh.</p>
  <h2>Mo Phròiseactan</h2>>
  <p>Ann an 2007, stèidhich mi AbairThusa, a bha na chiad lìonra sòisealta Ghàidhlig.</p>
  <p>Ann an 2008, stèidhich mi buidheann Bebo na GayGaels agus bloga naidheachd LGBTQIA+ <a href="https://angeidhealur.scot/">a' Ghèidheil Ùire</a>.</p>
  <p>Mar phàirt den obair agam air a' Ghèidheal Ùr, tha mi air <a href="https://faclair.lgbt/">faclair de bhriathrachas LGBTQIA+</a> a chruthachadh.</p>

  <h2>Mo bhlog</h2>

  {% for post in paginator.posts %}
  
  <h1 style="text-align: center">{{ post.title }}</h1>
  
  <p style="text-align: center"><a href="{{ site.baseurl }}{{ post.url }}">
    {% assign m = post.date | date: "%-m" %}
    {{ post.date | date: "%d" }}
    {% case m %}
      {% when '1' %}Am Faoilleach
      {% when '2' %}An Gearran
      {% when '3' %}Am Màrt
      {% when '4' %}An Giblean
      {% when '5' %}An Cèitean
      {% when '6' %}An t-Ògmhios
      {% when '7' %}An t-Iuchar
      {% when '8' %}An Lùnastal
      {% when '9' %}An t-Sultain
      {% when '10' %}An Dàmhair
      {% when '11' %}An t-Samhain
      {% when '12' %}An Dùbhlachd
    {% endcase %}
    {{ post.date | date: "%Y" }}
   <i class="fa-regular fa-angles-right"></i></a></p>

  {% if post.image %}
    <img src="{{ site.baseurl }}{{ post.image }}" class="post-image">
  {% endif %}
  
  {{ post.content }}
  
  <h1 style="text-align: center">• • •</h1>
  {% endfor %}

  <div style="margin-top: 28px">
  {% if paginator.total_pages > 1 %}
  <ul class="pagination justify-content-center">
    {% if paginator.next_page %}
    <li class="page-item active">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link"><i class="fa fa-arrow-circle-left"></i>  Nas sìne</span>
      </li>
    {% endif %}

    {% if paginator.previous_page %}
      <li class="page-item active">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Nas ùire <i class="fa fa-arrow-circle-right"></i></a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Nas ùire <i class="fa fa-arrow-circle-right"></i></span>
      </li>
    {% endif %}
    </ul>
  {% endif %}
  </div>

