<div class="container">
  <img src="{{ site.url }}/images/angeidheal.jpg" style="display: block; margin-left: auto; margin-right: auto; margin-top: 56px; border-radius: 50%" width="100" height="100">
  <h1 style="font-family: Lemonada">Crìstean MacMhìcheil</h1>
  <p style="text-align: center">Blogaiche aig A' Ghèidheal Ùr</p>
  <p>Is mise Crìstean MacMhìcheil. Rugadh is thogadh mi ann an Siorrachd Rois.</p>
  <p>Cheumnaich mi bho Sabhal Mòr Ostaig ann an 2010 le BA (le Urram) ann an Gàidhlig is Leasachadh.</p>
  <h2>Mo Phròiseactan</h2>>
  <p>Ann an 2007, stèidhich mi AbairThusa, a bha na chiad lìonra sòisealta Ghàidhlig.</p>
  <p>Ann an 2008, stèidhich mi buidheann Bebo na GayGaels agus bloga naidheachd LGBTQIA+ <a href="https://angeidhealur.scot/">a' Ghèidheil Ùire</a>.</p>
  <p>Mar phàirt den obair agam air a' Ghèidheal Ùr, tha mi air <a href="https://faclair.lgbt/">faclair de bhriathrachas LGBTQIA+</a> a chruthachadh.</p>
</div>